@model OrganizationsWebApplication.Models.OrganizationWithDepartmentsViewModel

@{
    ViewBag.Title = "Organization Info";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
</head>
<body onload="setView()">


    @Html.Partial("~/Views/_AccountPanel.cshtml")


    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">
                Organization: @Model.Name
            </span>
        </span>
    </div>
    <br>

    @if (Roles.IsUserInRole("admin"))
    {
        @Html.Partial("~/Views/_AddNewInstancePanel.cshtml", @Model.Page)
        <br>
    }
    @Html.Partial("~/Views/_GoBackPanel.cshtml", @Model.Page)
    @Html.Partial("~/Views/_ListSortPanel.cshtml", @Model.Page)

    <div class="content">
        @foreach (var department in Model.Departments)
        {
            <div class="row">
                <span class="block">
                    @Html.ActionLink(department.Name, "DepartmentInfo", "Department",
                            new { id = department.Id }, null
                            )
                </span>
                @if (Roles.IsUserInRole("admin"))
                {
                    <span class="operationBlock">
                        @using (Html.BeginForm("UpdateDepartmentMenu", "Department",
                        new { id = department.Id }))
                        {
                            <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
                        }

                        @using (Html.BeginForm("DeleteDepartment", "Department",
                        new { id = department.Id }))
                        {
                            <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit" />
                        }
                    </span>
                }
            </div>
        }
    </div>

    @Html.Partial("~/Views/_PagingPanel.cshtml", Model.Page)

</body>





</html>