@using OrganizationsWebApplication.Controllers
@using OrganizationsWebApplication.Models
@model OrganizationsWebApplication.Models.ListOfOrganizationsViewModel

@{
    ViewBag.Title = "Organizations";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body onload="setView()">
    
    @Html.Partial("~/Views/_AccountPanel.cshtml")
    
    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">
                Organizations list
            </span>
        </span>
    </div>
    <br>
    
    @if (Roles.IsUserInRole("admin"))
    {
        @Html.Partial("~/Views/_AddNewInstancePanel.cshtml", @Model.Page)
        <br>
    }
    @Html.Partial("~/Views/_GoBackPanel.cshtml", @Model.Page)
 
    @Html.Partial("~/Views/_ListSortPanel.cshtml", @Model.Page)
   

    <div class="content">
        @foreach (var organization in Model.Organizations)
        {
            <div class="row">
                <span class="block">
                    @Html.ActionLink(organization.Name, "OrganizationInfo", "Organization",
                        new { id = organization.Id }, null)
                </span>

                @if (Roles.IsUserInRole("admin"))
                {
                    <span class="operationBlock">
                        @using (Html.BeginForm("UpdateOrganizationMenu", "Organization", new { id = organization.Id }))
                        {
                            <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
                        }
                        @using (Html.BeginForm("DeleteOrganization", "Organization", new { id = organization.Id }))
                        {
                            <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit" />
                        }
                    </span>
                }
            </div>
        }
    </div>

    @Html.Partial("~/Views/_PagingPanel.cshtml", Model.Page)

</body>
</html>