@model OrganizationsWebApplication.Models.PagesModels.BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />

    <title>_Layout</title>
</head>
<body>
    
    @Styles.Render("~/content/style")

    @Html.Partial("~/Views/_AccountBar.cshtml")

 
    <div class="header" style="background: #3F51B5;">
        <span style="color: #fff">
            @ViewBag.Title
            <br>
            <br>
            @Html.Partial("~/Views/_GlobalizationBar.cshtml")
        </span>
    </div>

    <br>
    @Html.Partial("~/Views/_MainCommandsBar.cshtml", @Model)

    @RenderBody()

    <script>
        setView();
    </script>

    @Html.Partial("~/Views/_PagingBar.cshtml", @Model)

    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />

    @Scripts.Render("~/bundles/js")

</body>
</html>
