@model OrganizationsWebApplication.Models.PagesModels.BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <script src="../../Scripts/JavaScript.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript">
    </script>

    <title>_Layout</title>
</head>
<body>

    @Html.Partial("~/Views/_AccountBar.cshtml")

    <div class="header" style="background: #3F51B5;">
        <span style="color: #fff">
            @ViewBag.Title
            
            
            
            @using (Html.BeginForm("ChangeCultureRoute", "ChangeCulture",
                new { language = "en", data = this.ViewContext.RouteData }
                ))
            {
                <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
            }
            
          
            @Html.ActionLink("en", "ChangeCulture", "ChangeCulture",
             new { language = "en", url = this.Request.RawUrl }, null)
            @Html.ActionLink("ru", "ChangeCulture", "ChangeCulture",
             new { language = "ru", url = this.Request.RawUrl }, null)
            
        </span>
    </div>

    @RenderBody()
    
    @Html.Partial("~/Views/_PagingBar.cshtml", @Model)
    
    
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
</body>
</html>
