
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <script src="../../Scripts/JavaScript.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript">
    </script>

    <title>_Layout</title>
</head>
<body>
    

    @Html.Partial("~/Views/_AccountBar.cshtml")

    <div class="header" style="background: #3F51B5;">
        <span style="color: #fff">
            @ViewBag.Title
            
            
            @Html.ActionLink("en", "ChangeCulture", "ChangeCulture",
    new { lang = "en", returnUrl = this.Request.RawUrl }, null)
            @Html.ActionLink("ru", "ChangeCulture", "ChangeCulture",
    new { lang = "ru", returnUrl = this.Request.RawUrl }, null)

            
        </span>
    </div>

    @RenderBody()
    
    @*
    <script>
        setView();
    </script>
    *@

    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
</body>
</html>
