@using OrganizationsWebApplication.LocalResource

@model OrganizationsWebApplication.Models.PagesModels.DepartmentInfoViewModel

@{
    ViewBag.Title = @Resource.DepartmentInfo + ": " + @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    <div class="content">
        @foreach (var employee in Model.Content)
        {
            <div class="row">
                <span class="block" style="color:black">
                    <a>
                        @employee.Name
                    </a>
                </span>
                @if (Roles.IsUserInRole("admin"))
                {
                    <span class="operationBlock">
                   
                        
                        @using (Html.BeginForm("UpdateEmployeeMenu", "DepartmentInfo",
                            new
                            {
                                id = employee.Id,
                                Model.viewConditionProperty.CurrentPageNumber,
                                Model.viewConditionProperty.SortType
                            }))
                        {
                            <input type="image" src="../../Content/ic_mode_edit_24px.svg" alt="edit" name="submit" />
                        }
                        
                        
                        @using (Html.BeginForm("DeleteEmployee", "DepartmentInfo",
                            new
                            {
                                id = employee.Id,
                                Model.viewConditionProperty.CurrentPageNumber,
                                Model.viewConditionProperty.SortType
                            }))
                        {
                            <input type="image" src="../../Content/ic_delete_24px.svg" alt="delete" name="submit" />
                        }
                    </span>
                }
            </div>
        }
    </div>


    @if (Roles.IsUserInRole("admin"))
    {
        using (Html.BeginForm("AddEmployeeFromList", "DepartmentInfo", 
            new
            {
                pageNumberInDepartmentInfo = Model.viewConditionProperty.CurrentPageNumber,
                sortType = Model.viewConditionProperty.SortType
            }))
        {
            Model.EmployeeViewModel.ParentId = Model.viewConditionProperty.Id;

            @Html.DropDownListFor(model => model.EmployeeViewModel.Id,
            new SelectList(Model.FreeUsersViewModel, "Id", "Name"), "Choose")

            @Html.HiddenFor(m => m.EmployeeViewModel.ParentId)

            <input type="submit" value="@Resource.AddUser">
        }
    }
    
</div>
