@{
    ViewBag.Title = "Department";
}
@using System.Web.Mvc.Html
@model OrganizationsWebApplication.Models.EntitiesModels.OrganizationViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
</head>
<body>
    <table>
        <tr>
            <td class="block" style="background: #3F51B5; width: 400px">
                <span style="color: #fff">
                    Please update organization @Model.Name name:
                </span>
            </td>
        </tr>
    </table>
    
    @using (Html.BeginForm("UpdateOrganization", "OrganizationsList"))
    {
        <table>
            <tr>
                <td>
                    <div class="container">
                        <div class="group">
                            @Html.HiddenFor(m => m.Id)
                            @Html.TextBoxFor(m => m.Name, new { @class = "inputMaterial", @type = "text", @required = "required" })
                            @Html.Hidden("pageNumberInOrganizationsList")
                            @Html.Hidden("viewType")
                            @Html.Hidden("sortType")
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Name</label>
                            <span style="bottom: 35px; left: 65%; position:relative; ">
                                <input type="image" src="../../Content/ic_done_24px.svg" alt="Update" name="submit" />
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }

</body>
</html>