@{
    ViewBag.Title = @Resource.Login;
    Layout = null;

}

@using System.Globalization
@using System.Resources
@using OrganizationsWebApplication.LocalResource
@model OrganizationsWebApplication.Models.Account


<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@Resource.Login</title>

</head>
<body>

    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">
                <h2>@Resource.Login</h2>

                <br>
                <br>
                @{
                    string rawUrl = Request.RawUrl;

                    string newUrlRu = rawUrl.Replace("/en/", "/ru/");
                    <a href="@newUrlRu" title="Culture">RU</a>

                    string newUrlEn = rawUrl.Replace("/ru/", "/en/");
                    <a href="@newUrlEn" title="Culture">EN</a>
                }

                @using (Html.BeginForm("Login", "Account"))
                {
                    <table>
                        <tr>
                            <td>
                                <div class="accountContainer">
                                    <div class="group">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "inputMaterial", @type = "text", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>UserName</label>
                                    </div>

                                    <div class="group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "inputMaterial", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Password</label>
                                    </div>
                                    <input type="submit" value="OK">
                                    <br>
                                    <br>
                                    @Html.ActionLink(Resource.Registration, "Register", "Account")
                                </div>
                            </td>
                        </tr>
                    </table>
                }
            </span>
        </span>
    </div>


</body>
</html>
