@using OrganizationsWebApplication.LocalResource

@{
    ViewBag.Title = Resource.Registration;
    Layout = null;
}

@model OrganizationsWebApplication.Models.RegisterModel

<!DOCTYPE html>

<html>
<head runat="server">
    <link rel="stylesheet" href="../../Content/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@Resource.Registration</title>
</head>
<body>

    <script type="text/javascript">
        var getDepartmentsAction = '@Url.Action("GetDepartments")';
    </script>

    <script src="~/Scripts/UIscripts/registrationDdl.js"></script>


    <div class="header" style="background: #3F51B5;">
        <span style="background: #3F51B5;">
            <span style="color: #fff">
                <h2>@Resource.Registration</h2>

                @Html.Partial("~/Views/_GlobalizationBar.cshtml")


                @using (Html.BeginForm("RegisterFinishing", "Account", FormMethod.Post))
                {
                    <div class="accountContainer">
                        <div class="group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "inputMaterial", @type = "text", @required = "required" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>@Resource.UserNameLabel</label>
                        </div>
                        <div class="group">
                            @Html.PasswordFor(m => m.Password, new { @class = "inputMaterial", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>@Resource.PasswordLabel</label>
                        </div>

                        <div class="group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputMaterial", @required = "required" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>@Resource.PasswordConfirmLabel</label>
                        </div>

                    </div>
                    <br />
                    <br />
                    <div class="group">
                        @if (ViewData.ContainsKey("organization"))
                        {
                            @Html.DropDownList("organization", ViewData["organization"] as List<SelectListItem>)
                        }
                    </div>

                    <div class="ddl hidden">
                        @Html.DropDownList("department", new SelectList(string.Empty, "Value", "Text"), "Select a Department")
                    </div>
                    <br />
                    <input type="submit" value="OK">
                }

            </span>
        </span>
    </div>

</body>
</html>
