@model OrganizationsWebApplication.Models.PagesModels.BaseViewModel

<span style="font-size: 15px; color: black;">
    Debug Info:
    <br>
    page type: @Model.PageType
    <br>
    sort type: @Model.SortType
    <br>
</span>

<span class="operationBlock" style="background: #3F51B5; width: 600px; height: 50px">


    @if (Model.PageType == "org_list")
    {
        using (Html.BeginForm("ChangeSortType", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.CurrentPageNumber,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.SortType == "desc")
            {
                <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
            }

            if (Model.SortType == "asc")
            {
                <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
            }
        }
    }


    @if (@Model.PageType == "org_info")
    {
        using (Html.BeginForm("OrganizationsList", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.CurrentPageNumber,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }


        using (Html.BeginForm("ChangeSortType", "OrganizationInfo", new
        {
            organizationId = @Model.Id,
            pageNumberInOrganizationInfo = Model.CurrentPageNumber,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.SortType == "desc")
            {
                <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
            }

            if (Model.SortType == "asc")
            {
                <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
            }
        }

    }


    @if (@Model.PageType == "dep_info")
    {
        using (Html.BeginForm("OrganizationInfo", "OrganizationInfo", new
        {
            organizationId = @Model.ParentId,
            pageNumberInOrganizationInfo = Model.CurrentPageNumber,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }




        using (Html.BeginForm("ChangeSortType", "DepartmentInfo", new
        {
            departmentId = @Model.Id,
           pageNumberInDepartmentInfo = Model.CurrentPageNumber,
           sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.SortType == "desc")
            {
                <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
            }

            if (Model.SortType == "asc")
            {
                <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
            }
        }

    }

    
    @if (Model.PageType == "org_list")
    {
        using (Html.BeginForm("AddOrganizationMenu", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.CurrentPageNumber,
           sortType = Model.SortType
        }, FormMethod.Post))
        {
            <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
        }
    }


    @if (Roles.IsUserInRole("admin"))
    {
        if (@Model.PageType == "org_info")
        {
            using (Html.BeginForm("AddDepartmentMenu", "OrganizationInfo", new
            {
                organizationId = @Model.Id,
                pageNumberInOrganizationInfo = Model.CurrentPageNumber,
               sortType = Model.SortType
            }, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }
    }


    @if (Roles.IsUserInRole("admin"))
    {
        if (@Model.PageType == "dep_info")
        {
            using (Html.BeginForm("AddEmployeeMenu", "DepartmentInfo", new
            {
                departmentId = Model.Id,
                pageNumberInDepartmentInfo = Model.CurrentPageNumber,
               sortType = Model.SortType
            }, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }
    }

</span>