@model OrganizationsWebApplication.Models.MainModel

<span class="operationBlock" style="background: #3F51B5; width: 600px; height: 50px">
    
    @if (@Model.PageType == "org_info")
    {
        using (Html.BeginForm("OrganizationsList", "OrganizationsList", new { pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }
    }

    @if (@Model.PageType == "dep_info")
    {
        using (Html.BeginForm("OrganizationInfo", "OrganizationInfo", new
        {
            organizationId = @Model.ParentId,
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo
        }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }
    }

    @if (Roles.IsUserInRole("admin"))
    {

        if (@Model.PageType == "org_list")
        {
            using (Html.BeginForm("AddOrganizationMenu", "OrganizationsList", new { pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList}, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }

        if (@Model.PageType == "org_info")
        {
            using (Html.BeginForm("AddDepartmentMenu", "OrganizationInfo", new
            {
                organizationId = @Model.Id, 
                pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList, 
                pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo
            }, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }

        if (@Model.PageType == "dep_info")
        {
            using (Html.BeginForm("AddEmployeeMenu", "DepartmentInfo", new
            {
                departmentId = Model.Id,
                pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
                pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
                pageNumberInDepartmentInfo = Model.PageNumberInDepartmentInfo
            }, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }

    }



    @if (Request.Cookies["sort"] != null)
    {
        var value = Request.Cookies["sort"].Value;
        if (value == "asc")
        {
            <form>
                <img src="../../Content/sort-descending.svg" onclick=" sortSwitch() " style="cursor: pointer;" />
            </form>
        }
        else if (value == "desc")
        {
            <form>
                <img src="../../Content/sort-ascending.svg" onclick=" sortSwitch() " style="cursor: pointer;" />
            </form>
        }
    }
    else
    {
        <form>
            <img src="../../Content/sort-ascending.svg" onclick=" sortSwitch() " style="cursor: pointer;" />
        </form>
    }

    @if (Request.Cookies["view"] != null)
    {
        var value = Request.Cookies["view"].Value;
        if (value == "list")
        {
            <form>
                <img src="../../Content/view-module.svg" onclick=" setGrid() " style="cursor: pointer;" />
            </form>
        }
        else if (value == "grid")
        {
            <form>
                <img src="../../Content/view-list.svg" onclick=" setList() " style="cursor: pointer;" />
            </form>
        }
    }
    else
    {
        <form>
            <img src="../../Content/view-module.svg" onclick=" setGrid() " style="cursor: pointer;" />
        </form>
    }

</span>