@using Organizations.Helpers
@model OrganizationsWebApplication.Models.MainModel


<span style="font-size: 15px; color: black;">
    Debug Info:
    <br>
    page type: @Model.PageType
    <br>
    view type: @Model.ViewType
    <br>
    sort type: @Model.SortType
    <br>
</span>


<span class="operationBlock" style="background: #3F51B5; width: 600px; height: 50px">


    @if (Model.PageType == "org_list")
    {
        using (Html.BeginForm("ChangeViewType", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.ViewType == "list")
            {
                <input type="image" src="../../Content/view-module.svg" alt="add" name="submit" />
            }

            if (Model.ViewType == "grid")
            {
                <input type="image" src="../../Content/view-list.svg" alt="add" name="submit" />
            }
        }


        using (Html.BeginForm("ChangeSortType", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.SortType == "desc")
            {
                <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
            }

            if (Model.SortType == "asc")
            {
                <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
            }
        }
    }



    @if (@Model.PageType == "org_info")
    {
        using (Html.BeginForm("OrganizationsList", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }


        using (Html.BeginForm("ChangeViewType", "OrganizationInfo", new
        {
            organizationId = @Model.Id,
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.ViewType == "list")
            {
                <input type="image" src="../../Content/view-module.svg" alt="add" name="submit" />
            }

            if (Model.ViewType == "grid")
            {
                <input type="image" src="../../Content/view-list.svg" alt="add" name="submit" />
            }
        }


        using (Html.BeginForm("ChangeSortType", "OrganizationInfo", new
        {
            organizationId = @Model.Id,
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.SortType == "desc")
            {
                <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
            }

            if (Model.SortType == "asc")
            {
                <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
            }
        }

    }


    @if (@Model.PageType == "dep_info")
    {
        using (Html.BeginForm("OrganizationInfo", "OrganizationInfo", new
        {
            organizationId = @Model.ParentId,
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            <input type="image" src="../../Content/ic_home_24px_inverse.svg" alt="add" name="submit" />
        }


        using (Html.BeginForm("ChangeViewType", "DepartmentInfo", new
        {
            departmentId = @Model.Id,
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            pageNumberInDepartmentInfo = Model.PageNumberInDepartmentInfo,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.ViewType == "list")
            {
                <input type="image" src="../../Content/view-module.svg" alt="add" name="submit" />
            }

            if (Model.ViewType == "grid")
            {
                <input type="image" src="../../Content/view-list.svg" alt="add" name="submit" />
            }
        }



        using (Html.BeginForm("ChangeSortType", "DepartmentInfo", new
        {
            departmentId = @Model.Id,
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            pageNumberInDepartmentInfo = Model.PageNumberInDepartmentInfo,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            if (Model.SortType == "desc")
            {
                <input type="image" src="../../Content/sort-ascending.svg" alt="sort" name="submit" />
            }

            if (Model.SortType == "asc")
            {
                <input type="image" src="../../Content/sort-descending.svg" alt="sort" name="submit" />
            }
        }

    }



    @if (Model.PageType == "org_list")
    {
        using (Html.BeginForm("AddOrganizationMenu", "OrganizationsList", new
        {
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
            viewType = Model.ViewType,
            sortType = Model.SortType
        }, FormMethod.Post))
        {
            <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
        }
    }

    @if (OwnershipHelper.IsCurrentUserOwner(Model.Id, Model.OwnersList) || (Roles.IsUserInRole("admin")))
    {
        if (@Model.PageType == "org_info")
        {
            using (Html.BeginForm("AddDepartmentMenu", "OrganizationInfo", new
            {
                organizationId = @Model.Id,
                pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
                pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
                viewType = Model.ViewType,
                sortType = Model.SortType
            }, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }
    }
    


    @if (OwnershipHelper.IsCurrentUserOwner(Model.ParentId, Model.OwnersList) || (Roles.IsUserInRole("admin")))
    {
        if (@Model.PageType == "dep_info")
        {
            using (Html.BeginForm("AddEmployeeMenu", "DepartmentInfo", new
            {
                departmentId = Model.Id,
                pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList,
                pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
                pageNumberInDepartmentInfo = Model.PageNumberInDepartmentInfo,
                viewType = Model.ViewType,
                sortType = Model.SortType
            }, FormMethod.Post))
            {
                <input style="background: #3F51B5" type="image" src="../../Content/ic_add_box_24px_inverse.svg" alt="add" name="submit" />
            }
        }
    }


</span>