@model OrganizationsWebApplication.Models.MainModel

<span class="operationBlock" style="background: #000; width: 600px; height: 50px; margin-top: -50px;display: block;">



    @if (Model.PageType == "org_list")
    {
        using (Html.BeginForm("GoPrevPage", "OrganizationsList", new { pageNumberInOrganizationsList = @Model.PageNumberInOrganizationsList }))
        {
            <input type="image" src="../../Content/ic-double-left.svg" name="submit" style="cursor: pointer;" />
        }
        <form>
            <span style="font-family: RobotoDraft, Roboto, sans-serif; font-size: 20px; color: #ffffff;">
                @Model.PageNumberInOrganizationsList / @Model.MaxPageQty
            </span>
        </form>
        using (Html.BeginForm("GoNextPage", "OrganizationsList", new { pageNumberInOrganizationsList = @Model.PageNumberInOrganizationsList }))
        {
            <input type="image" src="../../Content/ic-double-right.svg" name="submit" style="cursor: pointer;" />
        }
    }


    @if (Model.PageType == "org_info")
    {
        using (Html.BeginForm("GoPrevPage", "OrganizationInfo", new { organizationId = @Model.Id, pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList, pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo }))
        {
            <input type="image" src="../../Content/ic-double-left.svg" name="submit" style="cursor: pointer;" />
        }
        <form>
            <span style="font-family: RobotoDraft, Roboto, sans-serif; font-size: 20px; color: #ffffff;">
                @Model.PageNumberInOrganizationInfo / @Model.MaxPageQty
            </span>
        </form>
        using (Html.BeginForm("GoNextPage", "OrganizationInfo", new { organizationId = @Model.Id, pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList, pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo }))
        {
            <input type="image" src="../../Content/ic-double-right.svg" name="submit" style="cursor: pointer;" />
        }
    }
    
    
    
    @if (Model.PageType == "dep_info")
    {
        using (Html.BeginForm("GoPrevPage", "DepartmentInfo", new
        {
            departmentId = @Model.Id, 
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList, 
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            pageNumberInDepartmentInfo = Model.PageNumberInDepartmentInfo
        }))
        {
            <input type="image" src="../../Content/ic-double-left.svg" name="submit" style="cursor: pointer;" />
        }
        <form>
            <span style="font-family: RobotoDraft, Roboto, sans-serif; font-size: 20px; color: #ffffff;">
                @Model.PageNumberInDepartmentInfo / @Model.MaxPageQty
            </span>
        </form>
        using (Html.BeginForm("GoNextPage", "DepartmentInfo", new
        {
            departmentId = @Model.Id, 
            pageNumberInOrganizationsList = Model.PageNumberInOrganizationsList, 
            pageNumberInOrganizationInfo = Model.PageNumberInOrganizationInfo,
            pageNumberInDepartmentInfo = Model.PageNumberInDepartmentInfo
        }))
        {
            <input type="image" src="../../Content/ic-double-right.svg" name="submit" style="cursor: pointer;" />
        }
    }

    

    
    
    


</span>
